<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CascadeServer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CascadeServer.My.MySettings>
            <setting name="LogFolder" serializeAs="String">
                <value>C:\Users\Darrell\OneDrive\Documents\Visual Studio 2022\Cascade\Logs</value>
            </setting>
            <setting name="ErrorFolder" serializeAs="String">
                <value>C:\Users\Darrell\OneDrive\Documents\Visual Studio 2022\Cascade\Errors</value>
            </setting>
            <setting name="ScheduleFolder" serializeAs="String">
                <value>C:\Users\Darrell\OneDrive\Documents\Visual Studio 2022\Cascade\Data\TAB\XML\Schedule</value>
            </setting>
            <setting name="ResultsFolder" serializeAs="String">
                <value>C:\Users\Darrell\OneDrive\Documents\Visual Studio 2022\Cascade\Data\TAB\XML\Results</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=DARRELLS-PC;Initial Catalog=CascadeLive;Integrated Security=True;Connect Timeout=30</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value>c77fe502-8ae7-4d5c-9c80-a70ff55af3ea</value>
            </setting>
        </CascadeServer.My.MySettings>
    </userSettings>
</configuration>
