<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CascadeMonitor.My.MySettings.ConnectionString" connectionString="Data Source=DARRELLS-PC;Initial Catalog=CascadeLive;Integrated Security=True;Connect Timeout=30" />
    </connectionStrings>
</configuration>
